[color]
    ui = true
[core]
    editor = nvim
    excludesfile = ~/.gitignore_global
[commit]
    template = ~/.gittemplate
[alias]
    cm = commit
    co = checkout
    st = status
    pl = pull
    lg = log --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative
    sh = show
    df = diff
    sa = stash
    br = branch
    cp = cherry-pick
[user]
    name = Le Xing
    email = xingled@gmail.com
